# Downloaded CDF/NetCDF source data
cdf_temp/

# Raw, Downloaded Data
L1_raw/

# BATSRUS build
BATSRUS/

# Developer Files 
dev/

# Python
__pycache__/
*.pyc
*.egg-info/
dist/
build/
.DS_Store
.vscode/