# Downloaded CDF/NetCDF source data
cdf_temp/

# Data
L1/
L1_raw/

# BATSRUS build
BATSRUS/

# Python
__pycache__/
*.pyc
*.egg-info/
dist/
build/
.DS_Store
.vscode/

# log files
*.log

# Developer Files 
dev/